.icon-home {
    color: var(--secondary-color);
    position: absolute;
    top: 25px;
    left: 25px;
    padding: 7px;
    border-radius: 50%;
    box-sizing: content-box;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: 3px 3px 6px #ffffff40, -3px -3px 6px #00000050;
    transition: all 0.3s ease-in-out;
  }
  
  .icon-home:hover {
    color: var(--tertiary-color);
    transform: scale(1.1);
  }
  
  @media (max-width: 600px) {
    .icon-home {
      font-size: 1.8rem;
    }
  }
  

.projectPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}

.projectPage-header {
    height: 35vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.projectPage-header > h1 {
    font-size: 4rem;
    font-family: var(--primaryFont);
}

.projectPage-container {
    padding: 3rem 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.projectPage-search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-container {
    margin-top: 5rem;
    width: 100%;
}

.project-grid {
    display: flex;
    gap: 4rem; 
}

@media (min-width: 992px) and (max-width: 1380px) {

}

@media screen and (max-width: 992px) {
    .projectPage-header {
        height: 25vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .project-grid {
        gap: 3rem;
    }
}

@media screen and (max-width: 702px) {
    .project-grid {
        gap: 1.5rem;
    }
}

@media screen and (max-width: 550px) {
    .projectPage-header h1 {
        font-size: 3rem;
    }
}
@media screen and (max-width: 400px) {
    .projectPage-header {
        height: 20vh;
    }
    .projectPage-header h1 {
        font-size: 2.5rem;
    }
}