/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

/* :root {
  --theme-primary: #3498db;
  --theme-secondary: #ffffff;
  --theme-tertiary: #2c3e50;
  --theme-primary80: #85c1e9;
  --theme-primary600: #21618c;
  --primaryFont: 'Poppins', sans-serif;
} */

/* Place other class styles like .input, .label, etc., below here */
:root {
  --theme-primary: #000000;
  --theme-primary30: #0000004d;
  --theme-primary50: #00000080;
  --theme-tertiary: #212121;
  --theme-tertiary80:#212121cc;
   --fontFamily: "var(--primaryFont)"
  /* --primaryFont: 'Poppins', sans-serif; */
}
